body,
html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	min-width: 380px;
}

body {
	font-family: "Wanted Sans";
	background-color: var(--layer-bg);
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
textarea,
input,
span,
p {
	margin: 0;
	padding: 0;
}

ul,
li,
a {
	list-style: none;
	text-decoration: none;
	color: inherit;
	margin: 0;
	padding: 0;
}

/* Variable */
:root {
	--radius-l: 28px;
	--gap: 10px;
	--layer-bg: #0f0e0e;
	--layer-1: #3b3b3b;
	--layer-2: #d9c3b0;
	--layer-3: #cc6324;
}

/* Layout */
div[class*="wrapper"] {
	max-width: 720px;
	min-width: 380px;
	gap: 10px;
	display: flex;
	padding: 36px;
	margin: 10px auto;
	border-radius: var(--radius-l);
}

.index-wrapper {
	background-color: var(--layer-1);
	& .index-title {
		flex: 2;
	}
}

.content-wrapper {
	background-color: var(--layer-1);
	flex-flow: column nowrap;
	gap: 10px;
	padding: 24px !important;
}

.input-wrapper {
	background-color: var(--layer-1);
	gap: 10px;
	padding: 12px !important;
}

/* MESSAGE */
.message {
	padding: 12px 24px;
	border-radius: 18px;
}

.res {
	background-color: rgb(232, 232, 232);
	position: relative;
	align-self: flex-start;
	user-select: none;
	transition: all 0.2s ease;
	transform: translateY(0);
	&:hover {
		background-color: aliceblue;
		transform: translateY(-5px);
	}
}

.req {
	background-color: beige;
	align-self: flex-end;
}

/* CONTENT-INPUT */
#req-message,
#req-title,
#req-prompt {
	flex: 1;
	border: none;
	padding: 16px;
	border-radius: 16px;
	background-color: rgba(255, 254, 240, 0.3);
}

#req-selection {
	border: none;
	padding: 16px;
	border-radius: 16px;
	background-color: rgb(187, 187, 187);
}

#req-button {
	border: none;
	padding: 16px;
	border-radius: 16px;
	cursor: pointer;
	background-color: var(--layer-3);
}

#req-message {
	color: #fff;
}

input[type="text"] {
	color: white;
	&:focus {
		outline: none;
	}
}

/* Typography */
h1 {
	font-size: 32px;
	color: var(--layer-3);
}

.caption {
	color: var(--layer-2);
}

::placeholder {
	color: aliceblue;
}

/* Header */
header {
	display: flex;
	width: 100%;
	height: 64px;
	align-items: center;
	background-color: var(--layer-1);
	margin-bottom: 100px;
	> ul {
		display: flex;
		gap: 20px;
		margin: 0 auto;
	}
	> ul > li {
		padding: 8px 12px;
		border-radius: var(--radius-l);
		background-color: var(--layer-2);
		transition: background 200ms ease;
		&:hover {
			background-color: var(--layer-3);
		}
	}
}

.table-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--layer-1);
	color: wheat;
	> ul {
		display: flex;
		gap: 20px;
		> li:first-child {
			margin-right: 40px;
		}
		> li:not(:first-child) {
			flex: 2;
		}
	}
}

/* Comarison */
.comparison-wrapper {
	max-width: 720px;
	min-width: 380px;
	height: 350px;
	margin: 0 auto;
	gap: 10px;
	display: flex;
	padding: 36px;
	background-color: var(--layer-1);
	border-radius: var(--radius-l);

	> * {
		display: flex;
		flex-direction: column;
		color: white;
		flex: 1;
	}

	& .comparison-target {
		flex: 2;
		& h3 {
			font-size: 64px;
		}
		& p {
			color: var(--layer-2);
		}
	}

	& .comparison-table {
		gap: 20px;

		> ul {
			> li:nth-child(1) {
				color: #8b8b8b;
			}
			& li:nth-child(2) {
				color: #737373c6;
			}
		}
		> ul:nth-child(1) {
			> li:nth-child(1) {
				color: #ff9900;
			}
			> li:nth-child(2) {
				color: #e8e8e8;
			}
		}
		> ul:nth-child(2) {
			> li:nth-child(1) {
				color: #d7d7d7;
			}
			> li:nth-child(2) {
				color: #838383;
			}
		}
	}
}

/* Animation */
.dropIn-animation {
	animation: dropIn 1000ms cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

@keyframes dropIn {
	0% {
		transform: translateY(50px);
		opacity: 0;
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}
