<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<header>
			<ul>
				<li>
					<a href="/create">임베딩 생성</a>
				</li>
				<li>
					<a href="/chat">채팅 테스트</a>
				</li>
				<li>
					<a href="/examine">유사도 확인</a>
				</li>
			</ul>
		</header>
		<div class="table-wrapper"></div>
		<div class="input-wrapper">
			<input type="text" name="message" id="req-title" placeholder="제목은 무엇인가요?" />
			<input type="text" name="message" id="req-prompt" placeholder="프롬프트는 무엇인가요?" />
			<select name="section" id="req-selection">
				<option value="event1" selected>Event 1</option>
				<option value="event2">Event 2</option>
				<option value="event3">Event 3</option>
			</select>
			<button id="req-button">임베딩 생성하기</button>
		</div>
		<script src="embedding.js"></script>
	</body>
</html>
